header {
    margin-top: 30px;
    height: 100px;
    margin-bottom: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1 1;
}

.library {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: 1 1;
    padding: 20px;
}

.book {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 1;
    padding: 10px;
}

img {
    max-width: 500px;
}

@media screen and (min-width: 300px) {
    img {
        max-width: 500;
    }

    .library {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 1 1;
        padding: 20px;
    }
}

@media screen and (min-width: 1024px) {
    img {
        max-width: 700;
    }

    .library {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex: 1 1;
        padding: 20px;
    }
}